---
import DriveComponent from '@components/Drive.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title='Self Driving Car'>
    <div class='h-1/2 w-full'>
        <DriveComponent class='' />
    </div>
    <div class='w-full h-1/2'>asd</div>
</DefaultLayout>
