---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'>

const { class: className, ...otherProps } = Astro.props
---

<div
    class:list={[
        'grid gap-1 border border-white/40 rounded-md p-2 bg-white/10 grow max-w-48',
        className,
    ]}
    {...otherProps}
>
    <slot />
</div>
