---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'dialog'>

const { class: className, title, ...otherProps } = Astro.props
---

<dialog
    class:list={[
        `w-96 h-64 inset-0 rounded overflow-hidden shadow-xl transition backdrop:backdrop-blur bg-stone-50 dark:bg-neutral-800 text-neutral-800 dark:text-stone-50`,
        className,
    ]}
    title={title}
    {...otherProps}
>
    <div class='flex flex-col w-full h-full'>
        <header class='bg-rose-600 px-4 py-3 font-bold text-stone-50'>
            {title}
        </header>
        <main class='p-4 grow'>
            <slot />
        </main>
        <footer class='flex justify-center p-4'><slot name='controls' /></footer>
    </div>
</dialog>
