---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { class: className, ...otherProps } = Astro.props
---

<a
    class:list={['', className]}
    class="text text-white hover:text-white/70 font-semibold capitalize"
    {...otherProps}
>
    <slot />
</a>
