---
import type { HTMLAttributes } from 'astro/types'
import { readdirSync } from 'fs'
import NavLink from './NavLink.astro'
type Props = HTMLAttributes<'nav'>
const { class: className, ...otherProps } = Astro.props

const pages: string[] = []

try {
    pages.push(...(readdirSync('./src/pages') as string[]).map((t) => t.split('.')[0]))
} catch (error: any) {
    console.error(error.message)
}
---

<nav class:list={['', className]} {...otherProps}>
    <ul class='flex gap-4 mx-1'>
        <li>
            <NavLink href={`${import.meta.env.BASE_URL}/`}>Home</NavLink>
        </li>
        {
            pages.map((page) => {
                if (page !== 'index') {
                    return (
                        <li>
                            <NavLink href={`${import.meta.env.BASE_URL}/${page}`}>{page}</NavLink>
                        </li>
                    )
                }
            })
        }
    </ul>
</nav>
