---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'>
const { class: className, ...otherProps } = Astro.props
---

<script>
    import { init } from '../libs/selfDrivingCar'
    document.addEventListener('astro:page-load', () => {
        const drive = document.querySelector('#drive') as HTMLElement
        if (drive) init(drive)
    })
</script>

<div id='drive' class:list={[className]} {...otherProps}></div>
